.sign-in {
  width: 380px;

  .signin-buttons {
    display: flex;
    justify-content: space-between;
  }
  .title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 748px) {
  .sign-in {
    width: unset;
    .signin-buttons {
      flex-direction: column;
      .custom-button {
        margin-bottom: 10px;
      }
    }
  }
}
